.DS_STORE
.claude/*
.xcodebuildmcp/*
Serif/macOS/GoogleCredentials.swift
Serif/Resources/macOS/GoogleService-Info.plist
Serif/iOS/GoogleCredentialsiOS.swift
Serif/Resources/iOS/GoogleService-Info.plist

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

.build/

firebase*
firestore*
functions/*
.firebaserc